In [17]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# Note: The following do not work with Python 3.12
#import sweetviz as sv
#import shap
#from ydata_profiling import ProfileReport

In [7]:
seed = 2024

# pandas, statsmodels, matplotlib and y_data_profiling rely on numpy's random generator, and thus, we need to set the seed in numpy
np.random.seed(seed)

In [20]:
# load the data
file_path = "/Users/jacqueline.bisquolm/Documents/TUM Master/1. Semester/Business Analytics & Mashine learning/Analytics Cup/Recepy_Cup_23-24/analytics_cup_2324_raw_gYELgDZ/diet.csv"
diet = pd.read_csv(file_path)

In [22]:
# have a look at the data and its attributes
print(diet.sample(10))

# check if columns are properly named
# ---> yes

           AuthorId        Diet  Age
183264     2537089C  Vegetarian   30
59943   1801820626D    Omnivore   54
115199  2001416252B  Vegetarian   73
24637      1338871D  Vegetarian   77
126088  2001704297B  Vegetarian   67
127393  2001743050B  Vegetarian   78
211661       37306B  Vegetarian   21
118530  2001500462B  Vegetarian   67
9448        113634E  Vegetarian   25
243566       66305A  Vegetarian   44

In [26]:
# get a general overview over data, check for missing values, etc.
print(diet.info())

print(diet.isna().any())

# --> we have 271907 rows, and Diet has one missing value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271907 entries, 0 to 271906
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   AuthorId  271907 non-null  object
 1   Diet      271906 non-null  object
 2   Age       271907 non-null  int64
dtypes: int64(1), object(2)
memory usage: 6.2+ MB
None
AuthorId    False
Diet         True
Age         False
dtype: bool

In [28]:
# Clean data
# replace missing value in Diet with "Omnivore"

print(diet["Diet"].unique())
diet["Diet"] = diet["Diet"].fillna("Omnivore")

['Vegetarian' 'Vegan' 'Omnivore' nan]

In [29]:
# Change data type of Diet to category
diet["Diet"] = diet["Diet"].astype("category")

In [31]:
#Check

diet.head(10)

    AuthorId        Diet  Age
0  10000120E  Vegetarian   46
1   1000014D       Vegan   18
2   1000015A  Vegetarian   58
3   1000016E  Vegetarian   32
4   1000027E       Vegan   61
5   1000029E       Vegan   39
6   1000036C  Vegetarian   50
7   1000048E  Vegetarian   44
8   1000079B  Vegetarian   34
9   1000107C    Omnivore   62

In [32]:
#Check
diet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271907 entries, 0 to 271906
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   AuthorId  271907 non-null  object
 1   Diet      271907 non-null  category
 2   Age       271907 non-null  int64
dtypes: category(1), int64(1), object(1)
memory usage: 4.4+ MB