In [17]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# Note: The following do not work with Python 3.12
#import sweetviz as sv
#import shap
#from ydata_profiling import ProfileReport

In [7]:
seed = 2024

# pandas, statsmodels, matplotlib and y_data_profiling rely on numpy's random generator, and thus, we need to set the seed in numpy
np.random.seed(seed)

In [70]:
# load the data
file_path = "/Users/jacqueline.bisquolm/Documents/TUM Master/1. Semester/Business Analytics & Mashine learning/Analytics Cup/Recepy_Cup_23-24/analytics_cup_2324_raw_gYELgDZ/diet.csv"
diet = pd.read_csv(file_path)

In [71]:
# have a look at the data and its attributes
print(diet.sample(10))

# check if columns are properly named
# ---> yes

           AuthorId        Diet  Age
10079      1144718B  Vegetarian   70
97228   2000715263C  Vegetarian   39
137431  2002046847B    Omnivore   64
49163      1695689D  Vegetarian   28
142498  2002197557B    Omnivore   36
69499   1803556008A  Vegetarian   53
99946   2000873280A    Omnivore   34
262421      878744C  Vegetarian   22
229775       52678B  Vegetarian   33
199760     2932648C       Vegan   79

In [72]:
# get a general overview over data, check for missing values, etc.
print(diet.info())

print(diet.isna().any())

# --> we have 271907 rows, and Diet has one missing value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271907 entries, 0 to 271906
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   AuthorId  271907 non-null  object
 1   Diet      271906 non-null  object
 2   Age       271907 non-null  int64
dtypes: int64(1), object(2)
memory usage: 6.2+ MB
None
AuthorId    False
Diet         True
Age         False
dtype: bool

In [73]:
# Clean data
# replace missing value in Diet with "Omnivore"

print(diet["Diet"].unique())
diet["Diet"] = diet["Diet"].fillna("Omnivore")

['Vegetarian' 'Vegan' 'Omnivore' nan]

In [74]:
# Change data type of Diet to category
diet["Diet"] = diet["Diet"].astype("category")

In [75]:
# Change ID
diet["AuthorId"] = diet["AuthorId"].str[:-1]
diet["AuthorId"] = diet["AuthorId"].astype("int")

#Check
print(len(pd.unique(diet['AuthorId'])))

271907

In [76]:
#Check

diet.head(10)

   AuthorId        Diet  Age
0  10000120  Vegetarian   46
1   1000014       Vegan   18
2   1000015  Vegetarian   58
3   1000016  Vegetarian   32
4   1000027       Vegan   61
5   1000029       Vegan   39
6   1000036  Vegetarian   50
7   1000048  Vegetarian   44
8   1000079  Vegetarian   34
9   1000107    Omnivore   62

In [77]:
#Check
diet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271907 entries, 0 to 271906
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   AuthorId  271907 non-null  int64
 1   Diet      271907 non-null  category
 2   Age       271907 non-null  int64
dtypes: category(1), int64(2)
memory usage: 4.4 MB